<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/globals.css')}}" /> 
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/styleguide.css')}}" /> 
    <link rel="stylesheet" href="{{ url_for ('static', filename = 'css/style.css')}}" />
  </head>
  <body>
    <div class="DASHBOARD">
      <div class="div">
        <img class="rectangle" src="img/rectangle-2.png" />
        <div class="overlap">
          <div class="overlap-group">
            <img class="img" src="img/rectangle-4.png" />
            <div class="text-wrapper">ASSETS</div>
            <img class="rectangle-2" src="img/rectangle-5.png" />
            <div class="rectangle-3"></div>
          </div>
          <img class="rectangle-4" src="img/rectangle-8.png" />
          <div class="text-wrapper-2">PRODUCTION</div>
          <img class="rectangle-5" src="img/rectangle-9.png" />
          <img class="rectangle-6" src="img/rectangle-23.png" />
          <div class="text-wrapper-3">SALES ANALYTICS</div>
          <div class="text-wrapper-4">ACCOUNTING</div>
          <div class="text-wrapper-5">DISTRIBUTION</div>
        </div>
        <img class="rectangle-7" src="img/rectangle-3.png" />
        <img class="rectangle-8" src="img/rectangle-6.png" />
        <div class="text-wrapper-6">CUSTOMERS</div>
        <div class="overlap-2">
          <img class="ellipse" src="img/ellipse-1.png" />
          <div class="group">
            <div class="div-wrapper"><div class="text-wrapper-7">DASHBOARD</div></div>
          </div>
          <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-title">
                <div class="title">ACCOUNTING</div>
                <img class="img-2" src="img/chevron-down.svg" />
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">
                <div class="title">ASSETS</div>
                <img class="img-2" src="img/chevron-down.svg" />
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">
                <div class="title">CUSTOMERS</div>
                <img class="img-2" src="img/chevron-down.svg" />
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">
                <div class="title">FINANCE</div>
                <img class="img-2" src="img/chevron-up.svg" />
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">
                <div class="title">HUMAN RESOURCES</div>
                <img class="img-2" src="img/chevron-down.svg" />
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">
                <div class="title">PROCUREMENT</div>
                <img class="img-2" src="img/chevron-down.svg" />
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">
                <div class="title">PRODUCTION</div>
                <img class="img-2" src="img/chevron-down.svg" />
              </div>
            </div>
            <div class="accordion-item-2">
              <div class="accordion-title-2">
                <div class="title">SALES</div>
                <img class="img-2" src="img/chevron-up.svg" />
              </div>
              <div class="accordion-content"><div class="body-2"><a href = "/sales-overview">Overview</a></div></div>
            </div>
          </div>
        </div>
        <img class="ellipse-2" src="img/ellipse-2.png" />
        <div class="overlap-3"><div class="text-wrapper-8">USERNAME</div></div>
        <div class="group-2"><div class="text-wrapper-9">DASHBOARD</div></div>
        <div class="text-wrapper-10">ORDERS</div>
        <div class="text-wrapper-11">EARNINGS</div>
      </div>
    </div>
  </body>
</html>
